{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block title %}Lyriquizz -- Today's quiz{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Lyriquizz</h1>
    <p class="lead">Today's date: {{ todaysdate }}</p>
    <h2>Today's Song Clue</h2>
      <p>{{ year }}, {{ genre }} </p>
      <p>"{{ lyric }}"</p>
    <h2>Don't miss a song!</h2>
    <p>Sign up for tomorrow's clue!</p>
  </div>
{% endblock %}