{% extends "leadline.html" %}
{% block content %}
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Previous song</h1>
      <p class="lead">{{ past_date }}</p>
      <p class="lead">{{ past_year }}, {{ past_genre }}</p>
      <p class="lead">"{{ past_lyric | safe}}"</p>
      <p class="lead"><em>{{ past_song }}</em> by {{ past_artist }}</p>
    </div>

    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Today's song clue</h1>
      <p class="lead">{{ year }}, {{ genre }}</p>
      <p class="lead">"{{ lyric | safe}}"</p>
      <h2 class="text-body-emphasis">Your guess</h2>
      <form action="/result" method="POST">
        <div class="row g-3 align-items-center">
          <div class="col"></div>
          <div class="col">
            <div class="row">
              <div class="col">
                <label for="guessUserName" class="col-form-label">Your name</label>
              </div>
              <div class="col">
                <input type="text" id="guessUserName" name="guessUserName" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="guessSongTitle" class="col-form-label">Song title</label>
              </div>
              <div class="col">
                <!-- Hidden input field with a fixed string value -->
                <input type="hidden" name="guessDate" value="{{ today_date }}">
                <input type="text" id="guessSongTitle" name="guessSongTitle" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="guessArtist" class="form-label">Artist</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" id="guessArtist" name="guessArtist">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col"></div>
        </div>
      </form>
    </div>

{% endblock %}